crewai
langchain-google-genai
streamlit
python-dotenv
pypdf
langchain-chroma
langchain-community
langchain
langchain-text-splitters
markdown-pdf
fpdf2
pytesseract
PyMuPDF
Pillow
unstructured[all]
unstructured[docx]
unstructured[pdf]
easyocr
langchain-unstructured
litellm
opentelemetry-api==1.34.0
opentelemetry-sdk==1.34.0
opentelemetry-exporter-otlp-proto-http==1.34.0
opentelemetry-exporter-otlp-proto-common==1.34.0
# New Providers
langchain-openai
langchain-groq
langchain-huggingface
sentence-transformers
