crewai 
langchain-google-genai
streamlit 
python-dotenv 
pypdf 
langchain-chroma
langchain-community
langchain
langchain-text-splitters
markdown-pdf
fpdf2
pytesseract 
PyMuPDF 
Pillow
unstructured[all]
unstructured[docx]
unstructured[pdf]
easyocr